<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>configName</key>
		<string>TelematicsApp_Configuration</string>
		<key>userServiceRootURL</key>
		<string>https://user.telematicssdk.com/v1</string>
		<key>indicatorsServiceURL</key>
		<string>https://api.telematicssdk.com/indicators/v1</string>
		<key>driveCoinsServiceURL</key>
		<string>https://mobilesdk.telematicssdk.com/api/rewarding/v2</string>
		<key>leaderboardServiceURL</key>
		<string>https://leaderboard.telematicssdk.com/v1</string>
		<key>carServiceURL</key>
		<string>https://services.telematicssdk.com/api/carservice/v1</string>
		<key>claimsServiceURL</key>
		<string>https://insp.telematicssdk.com/api/v1</string>
		<key>instanceId</key>
		<string>1db397c5-e00f-47f3-92de-9651fda7d2ee</string>
		<key>instanceKey</key>
		<string>5ef8864e-d35d-45ad-aa69-bd78efd4fd04</string>
		<key>linkPrivacyPolicy</key>
		<string>https://telematicssdk.com/privacy-policy/</string>
		<key>linkTermsOfUse</key>
		<string>https://telematicssdk.com/privacy-policy/</string>
		<key>linkHowItWorks</key>
		<string>https://help.telematicssdk.com/en/collections/1827809-mobile-application</string>
		<key>telematicsSettingsOS12</key>
		<string>https://help.telematicssdk.com/en/articles/3128577-ios-12-and-earlier-settings-guide</string>
		<key>telematicsSettingsOS13</key>
		<string>https://help.telematicssdk.com/en/articles/3740816-ios-13-settings-guide</string>
		<key>linkSupportEmail</key>
		<string>support@telematicssdk.com</string>
		<key>appStoreAppId</key>
		<string>&lt;YOUR_APPSTORE_APP_ID&gt;</string>
		<key>mapsAppIdKey</key>
		<string>xC4uTCEEAfQpGNnlfKjY</string>
		<key>mapsAppCode</key>
		<string>TQYqQ6U2FuWWshsAMuf3FQ</string>
		<key>mapsLicenseKey</key>
		<string>i8mrvbxrIYmC+rWLe2T0P8C0Zb8j7ybGG6mK1VAyyEg8jr8gexSDAJ2fdDiHMA2dmhEIDynFOR/iUrU9+LdQy8FzFMGYv6zPwtqQbZ98NGtc4f6tG1T8jS6VrN+32PsZqcyTXcP/cAQ2j3FR+kw6kp0i+XmXGEwXge5GwU1iBsn3PNjaX4mNEckp+V8JguS6yOFbHLDmLDHbcZmS33SPoPV/EnxL9QG8vf4GfFt3S2YS7gdfoQxgwnX/DU/WyaqIyxQGzAoBxi7NcTysc4/p494mIHwPSn1q/3jI4oGS4xXza7N/gnen0x46ChKqmMy9ZTgh/b6qW4Fzcx4ebrYVhfwK28DSxqTMhGCPgs3I6XE4q7keYiKz1/n5Io3xOTj60qPt5mwQOaBxkrCQYb5IeSpF3ZtY3O17xWZijVF94RJ+RCrBo00nyzt68KjqHVZ3Yu3KpObPOCy9he1HATzHs3rsf/RxP3drRjnNg7uZBwptUBkd2JHRajKvTYBC14dHpmS0M0B/s17XuoayBpxUytjzKSnRhfvzKfT+nSkK4Va+EulxGzl8ZNeCJf5x41+9JL1v+4j8oy71oLonnZ6Wu9B75ukJGVrG+TGcffURj992bWPOPSN4YsK2NVL/RNQHvjuhQMke+wh/fWqnSBiNoOX0iD6m+CVGIXh2B2nYBdE=</string>
		<key>mapsRestApiKey</key>
		<string>s5DYyuszcAOXb7PXFstwdXdg0YqxRgVgamMCkA3Oo2c</string>
		<key>googleApiKey</key>
		<string>&lt;INSERT_YOUR_KEY_FOR_GOOGLE_SERVICES&gt;</string>
		<key>mainLogoColor</key>
		<string>app_logo_colorTelematicsApp</string>
		<key>mainLogoClear</key>
		<string>app_logo_clearTelematicsApp</string>
		<key>mainBackgroundImg</key>
		<string>feed_background</string>
		<key>additionalBackgroundImg</key>
		<string>feed_background</string>
		<key>mainTabBarNumber</key>
		<integer>0</integer>
		<key>dashboardTabBarNumber</key>
		<integer>0</integer>
		<key>feedTabBarNumber</key>
		<integer>1</integer>
		<key>rewardsTabBarNumber</key>
		<string>2</string>
		<key>profileTabBarNumber</key>
		<integer>3</integer>
		<key>needUserDriveDistanceForScoringKm</key>
		<integer>10</integer>
		<key>needTripsDeleting</key>
		<true/>
		<key>needDistanceInMiles</key>
		<false/>
		<key>needAmPmTime</key>
		<false/>
		<key>sdkEnableHighFrequency</key>
		<true/>
		<key>sdkEnableELM</key>
		<true/>
		<key>needEventsReviewButton</key>
		<true/>
	</dict>
</array>
</plist>
